

.footer {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  
  background: #0f172a;
  padding: 80px 0 40px 0;
  border-top: 1px solid rgba(244, 114, 182, 0.2);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.footerContainer {
  width: 90%;
  max-width: 1200px;
  position: relative;
}

.backToTop {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background:#a855f7;
  color: #000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  z-index: 10;
}

.backToTop:hover {
  background: #a855f7;
  transform: translateX(-50%) translateY(-5px);
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: start;
  gap: 20px;
  padding-bottom: 40px;
}


.brandColumn {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.logoText {
  font-size: 1.6rem;
  font-weight: 800;
  color: #a855f7;
  margin-bottom: 10px;
}

.description {
  color: #94a3b8;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 280px;
}
.navColumn {
  display: flex;
  top: 100PX;
 
  justify-content: center; 
}

.navLinks {
  display: flex;
  gap: 25px;
}

.navLinks a {
  color: #94a3b8;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  transition: 0.3s;
}

.navLinks a:hover {
  color: #a855f7;
}   


.socialColumn {
  display: flex;
  justify-content: flex-end; 
  gap: 12px;
}

.socialIcon {
  color: white;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.05);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.3s ease;
}

.socialIcon:hover {
  background: #a855f7;
  color: #000;
  transform: translateY(-3px);
}

.footerBottom {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 25px;
  text-align: center;
  color: #64748b;
  font-size: 0.8rem;
}

/* RESPONSIVE DESIGN */
@media (max-width: 968px) {
  .mainGrid {
    grid-template-columns: 1fr; 
    text-align: center;
    gap: 30px;
  }

  .brandColumn, .navColumn, .socialColumn {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .description {
    max-width: 100%;
  }

  .navLinks {
    flex-wrap: wrap;
    justify-content: center;
  }
}